*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: #364249;
}
.page_title{
    text-align: center;
    padding-top: 30px;
    font-size: xx-large;
    color: white;
}
.container{
    display: flex;
    
}
ul{
    list-style-type: none;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.navbar ul{
    padding-top: 30px;
    padding-inline: 40px;
    display: flex;
    width: 300px;
    background-color: #2d3e4f;
   
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    height: 100vh;
}
main{
    flex: 1;
    padding: 20px;
    line-height: 40px;
}
li:hover{
    padding-top: 10px;
    text-align: center;
    background-color: #19bc9c;
    height: 40px;
    width: 250px;

}